<header class="landing-navbar">
  <div class="landing-navbar__logo-wrapper">
    <img class="landing-navbar__logo" src="./assets/images/deye-logo.png" alt="Deye logo" />
  </div>

  <nav class="landing-navbar__links">
    <a class="landing-navbar__link" (click)="scrollTo('categories')">Категорії</a>
    <a class="landing-navbar__link" (click)="scrollTo('advantages')">Переваги</a>
    <a class="landing-navbar__link" (click)="scrollTo('contacts')">Контакти</a>
  </nav>
  
  <div class="landing-navbar__contact">
    <a href="tel:+38073090986" class="landing-navbar__phone">+380 73 109 09 86</a>
  </div>
</header>
