<div class="products-detail">
  <h2 class="products-detail__title">{{product.name}}</h2>
  <p class="products-detail__description">
    {{product.description}}
  </p>

  <div class="products-detail__footer">
    <div [ngClass]="getPriceClass(product.price)" class="products-detail__price">
      {{product.price | truncateNumber}}
    </div>

    <div class="products-detail__actions">
      <button class="button button--order"
        (click)="onOrderClick()"
      >
        Замовити
      </button>

      <button class="button button--characteristics"
        (click)="onCharacteristicsClick()"
      >
        Характеристики
      </button>
    </div>
  </div>

</div>