<div class="categories">
  <h2 class="categories__title">Категорії товарів</h2>
  <app-carousel [itemsToScroll]="3" [itemWidth]="366"
  [elementsQty]="($categories | async | safeArray).length"
  >
    <div
      class="categories__item"
      *ngFor="let category of $categories | async"
      [class.is-flipped]="isFlipped(category.id)"
    >
      <div class="categories__item-inner">
        <!-- Front side -->
        <div class="categories__front">
          <svg
            class="categories__info-btn"
            id="info"
            width="40"
            height="40"
            viewBox="0 0 40 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            (click)="toggleCard(category.id); $event.stopPropagation()"
          >
            <path
              id="info"
              d="M20 13.3333V14.1667M20 20V26.6667M20 35C28.2843 35 35 28.2843 35 20C35 11.7157 28.2843 5 20 5C11.7157 5 5 11.7157 5 20C5 28.2843 11.7157 35 20 35Z"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <div class="categories__image-wrap">
            <img
              [src]="category.image"
              [alt]="category.name"
              class="categories__icon"
            />
          </div>
          <div class="categories__label">{{ category.name }}</div>
        </div>
        <!-- Back side -->
        <div class="categories__back">
          <div class="image-wrapper" (click)="toggleCard(category.id)">
            <svg
              class="categories__cross-btn"
              id="cross"
              width="20px"
              height="20px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M20 20L4 4.00003M20 4L4.00002 20"
                stroke="var(--blue)"
                stroke-width="2"
                stroke-linecap="round"
              />
            </svg>
          </div>
          <div class="categories__back-description">
            <p>{{ category.description }}</p>
          </div>
          <!-- <div class="categories__back-label" (click)="scrollToConsulting(category.id)">Зв'язатися з нами</div> -->
        </div>
      </div>
    </div>
  </app-carousel>
</div>
