@use "variables" as *;

.products-filter {
    background-color: $white;
    width: 262px;
    border-radius: 30px;
    padding: 20px;

    .filter {
        margin-bottom: 10px;
        display: block;
    }

    &__header {
        color: #31418b;
        font-family: $font-mont;
        font-size: 20px;
        font-weight: 700;
        
        &:not(:first-of-type) {
            margin-top: 20px;
        }

        &:first-of-type {
            margin-bottom: 10px;
        }
    }

}
