@use "variables" as *;

.products-filter {
    background-color: $white;
    height: 574px;
    width: 262px;
    border-radius: 30px;
    padding: 20px;

    .filter {
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
    }

    &__header {
        color: #31418b;
        font-family: $font-montserrat;
        font-size: 20px;
        font-weight: 700;
    }

}
