

.landing-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    &__welcome {
        border-bottom: 1px solid rgba(205, 204, 206, 0.71);
    }

    &__container {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__consulting {
        margin-bottom: 50px;
    }

    &__footer {
        margin-top: auto;
    }
}

// Toast styling
app-toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}
