<div class="landing-page">
  <div class="landing-page__container">
    <app-landing-welcome-window/>

    <div #categories class="landing-page__categories">
      <app-landing-categories/>
    </div>

    <div #advantages class="landing-page__advantages">
      <app-landing-advantages/>
    </div>

    <div #contacts class="landing-page__contacts">
      <app-landing-contacts/>
    </div>

    <div #consulting class="landing-page__consulting">
      <app-landing-consulting/>
    </div>

    <div class="landing-page__footer">
      <app-landing-footer/>
    </div>
  </div>
</div>
