.advantages {
  text-align: center;
  background-color: #ffffff;
  padding: 0px 48px 50px 48px;
  font-family: $font-mont, sans-serif;
  border-bottom: 1px solid #8d8ba7b2;

  h2 {
    color: $blue;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
  }

  .advantages-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 64px 32px;
    padding: 0 32px;
    text-align: center;

    .advantage-item {
      background-color: $white;
      border-radius: 10px;

      app-svg-icon {
        font-size: 32px;
        color: $blue;
        margin-bottom: 20px;
        display: inline-block;
      }

      h3 {
        color: $blue;
        margin-bottom: 10px;
        color: #0a218a;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
      }

      p {
        font-size: 16px;
        color: #8e8ba6;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
}
