.categories {
    margin: 0 auto;
  
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0 60px;
    }
  
    &__title {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 20px;
      text-align: center;
      color: #ffffff;
    }
  
    &__item {
      width: 350px;
      height: 520px;
      position: relative;
      perspective: 1000px;
      margin: 10px;
  
      &.is-flipped .categories__item-inner {
        transform: rotateY(180deg);
      }
    }
  
    &__item-inner {
      position: relative;
      width: 350px;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      font-family: $font-montserrat, sans-serif;
      transform-style: preserve-3d;
      margin: 0 auto; // Center the inner container
      transition: transform 0.5s ease, box-shadow 0.3s ease;
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
      }
    }
  
    &__front,
    &__back {
      position: absolute;
      width: 350px;
      height: 100%;
      left: 50%; // Center the card
      transform-origin: center; // Set rotation origin to center
      transform: translateX(-50%); // Offset the left: 50%
      backface-visibility: hidden;
      background-color: #ffffff;
      border-radius: 30px;
      padding: 20px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
  
    &__back {
      transform: translateX(-50%) rotateY(180deg); // Combine transforms
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      color: $blue;
      font-size: 16px;
    }
  
    &__image-wrap {
      height: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    &__icon {
      width: 100%;
      height: auto;
      border-radius: 30px;
    }
  
    &__label {
      height: 10%;
      margin-top: 10px;
      font-size: 20px;
      color: $blue;
      font-weight: 700;

    }
  
    &__info-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid $blue;
      background: none;
      color: $blue;
      font-style: italic;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease;
      z-index: 2;
  
      &:hover {
        background-color: $blue;
        color: #ffffff;
      }
    }
  }