.container {
  max-width: 1628px;
  padding: 0 1rem;
  margin: 0 auto;
}

/* Position */
.relative {
  position: relative;
}

/* Visibility */
.hidden {
  display: none;
}

/* Backgound */
.bg-white {
  background-color: $white !important; 
}

.bg-grey-medium{
  background-color: $grey-medium !important; 
}

.bg-danger-opacity {
  background-color: rgba($danger, 0.4) !important;
}

.bg-grey-medium {
  background-color: $grey-medium !important;
}

.bg-grey-light {
  background-color: $grey-light !important;
}

/* Color */
.color-danger {
  color: $danger !important;
}

/* Width */
.width-100 {
  width: 100px !important;
}

.width-150 {
  width: 150px !important;
}

.max-width-150 {
  max-width: 150px !important;
}

.width-200 {
  width: 200px !important;
}

/* Height */
.height-150 {
  height: 150px !important;
}

/* Margin */
.mr-10 {
  margin-right: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

/* Border */
.bt-0 {
  border-top: 0px !important;
}

.border-danger {
  border: 1px solid $danger !important;
}

/* Flex */
.d-flex {
  display: flex !important;
}

.f-start {
  justify-content: flex-start !important;
}

.f-end {
  justify-content: flex-end !important;
}

.f-center {
  justify-content: center !important;
}

.f-ai-center {
  align-items: center !important;
}

.no-flex {
  display: block !important;
  justify-content: inherit !important;
}

/* Typography */
.word-break {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-underline {
  text-decoration: underline;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Cursor */
.cursor-pointer {
  cursor: pointer;
}