<div class="contact-form-container">
  <h2>Зв’яжіться з нами</h2>
  <p>
    Ми наберемо Вас найближчим часом, а також можемо <br />
    по Вашому бажанню написати в інші месенджери.
  </p>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <!-- Name Field -->
      <div class="input-group">
        <input
          type="text"
          placeholder="Ім’я*"
          [formControl]="nameControl"
        />
        <div
          class="error-message"
          *ngIf="nameControl.touched && nameControl.invalid"
        >
          Введіть Ім’я
        </div>
      </div>

      <!-- Phone Field -->
      <div class="input-group">
        <input
          type="text"
          placeholder="(380) 99 909 00 99*"
          [formControl]="phoneControl"
        />
        <div
          class="error-message"
          *ngIf="phoneControl.touched && phoneControl.invalid"
        >
          Введіть номер телефону
        </div>
      </div>
    </div>

    <div class="form-row">
      <!-- Email Field -->
      <div class="input-group">
        <input
          type="email"
          placeholder="Email"
          [formControl]="emailControl"
        />
      </div>

      <!-- Comment Field -->
      <div class="input-group">
        <input
          type="text"
          placeholder="Ваш коментарій"
          [formControl]="commentControl"
        />
      </div>
    </div>

    <div class="form-checkbox">
      <label class="container">
        Зв’яжіться зі мною у Telegram або Viber
        <input
          type="checkbox"
          [formControl]="contactMeControl"
        />
        <span class="checkmark"></span>
      </label>
    </div>

    <button
      type="submit"
      class="button button--long"
      [disabled]="!contactForm.valid"
    >
      Замовити
    </button>
  </form>
</div>
