<div class="contact-form-container">
  <h2>Зв’яжіться з нами</h2>
  <p>
    Швидкий спосіб замовити те, що Вам потрібно або <br />
    отримати консультацію з продукції нашого сайту.
  </p>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" #myform="ngForm">
    <div class="form-row">
      <!-- Name Field -->
      <div class="input-group">
        <input type="text" placeholder="Ім’я*" [formControl]="nameControl" />
        <div
          class="error-message"
          *ngIf="nameControl.touched && nameControl.invalid && myform.submitted"
        >
          Введіть Ім’я
        </div>
      </div>

      <!-- Phone Field -->
      <div class="input-group">
        <input
          type="text"
          placeholder="(380) 99 909 00 99*"
          [formControl]="phoneControl"
          (input)="onPhoneInput($event)"
        />
        <div
          class="error-message"
          *ngIf="phoneControl.touched && phoneControl.invalid && myform.submitted"
        >
          Введіть номер телефону у форматі (380) 99 909 00 99
        </div>
      </div>
    </div>

    <div class="form-row  form-row--full-width">
      <!-- Comment Field -->
      <div class="input-group input-group--wide">
        <textarea 
          type="text"
          placeholder="Ваші побажання"
          [formControl]="commentControl"
        ></textarea>
      </div>
    </div>

    <div class="form-checkbox">
      <label class="container">
        Зв’яжіться зі мною у Telegram або Viber
        <input type="checkbox" [formControl]="messageMeControl" />
        <span class="checkmark"></span>
      </label>
    </div>

    <button
      type="submit"
      class="button button-form"
    >
      Зв’яжіться з нами
    </button>
  </form>
</div>
