<ng-container [ngSwitch]="filter?.type">
  
  <!-- 1) CHECKBOX TYPE -->
  <ng-container *ngSwitchCase="FilterType.CHECKBOX">
    <mat-checkbox
      [(ngModel)]="filter.value"
      (ngModelChange)="onValueChanged()"
      [disabled]="filter.disabled"
      [color]="'primary'"
      [checked]="filter.value"
      name="chk-{{ filter.label }}"
    >
      {{ filter.label }}
    </mat-checkbox>
  </ng-container>

  <!-- 2) RANGE TYPE (Dual-thumb slider with numeric inputs) -->
  <ng-container *ngSwitchCase="FilterType.RANGE">
    <div class="filter-range">
      <label class="filter-range-label">{{ filter.label }}</label>

      <!-- Two Number Inputs for Manual Entry -->
      <div class="filter-range-inputs">
        <!-- <label class="filter-range-input-label">Від:</label> -->
        <input
          type="text"
          [(ngModel)]="filter.value[0]"
          (ngModelChange)="onRangeInputChange()"
          (focus)="onRangeInputFocus(0)"
          (blur)="onRangeInputBlur()"
          [min]="filter.minRange"
          [max]="filter.maxRange"
          [disabled]="filter.disabled"
          class="filter-range-input"
        />

        <!-- <label class="filter-range-input-label">До:</label> -->
        <input
          type="text"
          [(ngModel)]="filter.value[1]"
          (ngModelChange)="onRangeInputChange()"
          (focus)="onRangeInputFocus(1)"
          (blur)="onRangeInputBlur()"
          [min]="filter.minRange"
          [max]="filter.maxRange"
          [disabled]="filter.disabled"
          class="filter-range-input"
        />
      </div>

      <!-- Angular Material Dual-Thumb Slider -->
      <mat-slider
        
        [min]="filter.minRange"
        [max]="filter.maxRange"
        [disabled]="filter.disabled"
      >
        <input
          matSliderStartThumb
          [(ngModel)]="filter.value[0]"
          (ngModelChange)="onValueChanged()"
        />
        <input
          matSliderEndThumb
          [(ngModel)]="filter.value[1]"
          (ngModelChange)="onValueChanged()"
        />
      </mat-slider>
    </div>
  </ng-container>

  <!-- 3) STRING TYPE -->
  <ng-container *ngSwitchCase="FilterType.STRING">
    <div class="filter-string">
      <label>{{ filter.label }}</label>
      <input
        type="text"
        [(ngModel)]="filter.value"
        (ngModelChange)="onValueChanged()"
        [disabled]="filter.disabled"
        class="filter-string-input"
      />
    </div>
  </ng-container>

  <!-- Fallback if unknown -->
  <div *ngSwitchDefault>
    Unknown filter type: {{ filter?.type }}
  </div>
</ng-container>
