<div class="window__container">
  <app-landing-navbar/>

  <div class="headline">
    <div class="headline__wrapper">
        <h1 class="headline__title">Гібридні інвертори та акумулятори</h1>
        <div class="headline__subtitle">
          Deye – енергія сонця у ваших руках. Гібридні рішення для вашого
          майбутнього.
        </div>
    </div>
    <div class="headline__images">
        <img class="headline__image" src="/assets/invertor-1.png" alt="Inverter" />
        <img class="headline__image2" src="/assets/invertor-2.png" alt="Inverter" />
    </div>

    <div class="promo">
      <div class="promo__text">Економимо на енергетиці вже зараз!</div>
    </div>

    <div class="testimonial">
      <div class="testimonial__text">
        Відмінна якість і швидка доставка! Рекомендую!
      </div>
    </div>
  </div>

  <!-- <div class="button button--primary">Замовити консультацію</div>
  <div class="button button--secondary">Замовити консультацію</div> -->
</div>
