<div class="products-page">
  <div class="products-page__container">
    <div class="products-page__navbar">
      <app-landing-welcome-window />
    </div>

    <div class="products-page__list">
      <app-products-filter
        class="products-page__filter"
        [productFilters]="availableProductFilters"
        [categoryFilters]="categoryFilters"
        (filterChange)="onFilterChanged($event)"
      ></app-products-filter>

      <div class="products-page__entities">
        <div class="search-bar">
          <mat-form-field>
            <input matInput type="search"
            placeholder="Пошук..."
            [value]="productFilters[1].value"
            (input)="onSearchInput($event)" />
            <button matSuffix mat-icon-button aria-label="Search">
            </button>
          </mat-form-field>
        </div>
        <div class="products-list">
          <app-products-list
            [products]="isLoading ? [] : (products$ | async | safeArray)"
          ></app-products-list>
        </div>
        <div class="products-page__pagination">
          <app-table-products-pagination
          [products]="products$ | async | safeArray"
          [pagination]="paginationFilters"
          (paginationChanged)="onPaginationChanged()"
          ></app-table-products-pagination>
        </div>
      </div>
    </div>

    <div class="products-page__footer">
      <app-landing-footer />
    </div>
  </div>
</div>
