<div class="contact">
  <h2>Контакти</h2>

  <div class="contact-container">
    <div class="map-section">
      <div class="map-wrapper">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25895.494201910788!2d34.998649609935015!3d48.486444085943134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe25b50e09dd3%3A0x811c442be306046b!2z0YPQuy4g0L3QsNCxLiDQl9Cw0LLQvtC00YHQutCw0Y8sIDcsINCU0L3QtdC_0YAsINCU0L3QtdC_0YDQvtC_0LXRgtGA0L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCDQo9C60YDQsNC40L3QsCwgNDkwMDA!5e0!3m2!1sru!2sit!4v1735296462116!5m2!1sru!2sit"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>

    <div class="info-section">
      <p>
        Ви можете зв’язатись з нами через номер телефону або <br> просто залишивши
        заявку, щоб ми самі Вам зателефонували.
      </p>

      <ul>
        <li>
          dp310190kdm&#64;gmail.com
        </li>
        <li>
          +380 67 718 37 74
        </li>
        <li>
          м. Дніпро, вул. Набережна Заводська 7
        </li>
      </ul>
    </div>
  </div>
</div>
