.table {
    &-pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 0 16px;
        background: white;
        border-radius: 30px;

        .table-pagination-info {
            color: rgba(black, 0.7);

            span {
                color: black;
            }
        }

        .table-pagination-controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.input {
    &-pagination-select {
        padding: 10px 20px;
        background-color: rgba(grey, 0.4);
        border: 1px solid grey;
        margin: 0 16px;
        option{
            position: relative;
            z-index: 9999;

        }
      }   
}
