.products-list {
    overflow: scroll;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 26px;
    // height: calc(100vh - 97px - 40px - 100px);
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar { 
        display: none;
    }

 
}
